* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text: #171a20;
  --textGrey: #5c5e62;
  --btnDark: rgba(23, 26, 32, 0.8);
  --btnLight: rgba(244, 244, 244, 0.65);
  --btnTextDark: rgba(23, 26, 32, 1);
  --btnTextLight: rgba(244, 244, 244, 1);
}

@font-face {
  font-family: GothamMedium;
  src: url(fonts/Gotham_Medium_Regular.ttf);
}

@font-face {
  font-family: GothamBook;
  src: url(fonts/GothamBook.ttf);
}

header {
  position: fixed;
  width: 100%;
  padding: 0px 48px;
}

@media (max-width: 1245px) {
  header {
    position: fixed;
    width: 100%;
    padding: 0px 15px 0px 36px;
  }
}

.header-container {
  position: relative;
  min-height: 4.2vh;
  margin: 0 auto;
}

.header-container a {
  font-family: GothamMedium;
  font-size: 0.9rem;
  text-decoration: none;
  color: var(--text);
}

.logo svg {
  height: 12.2px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  color: var(--text);
}

.desktop {
  display: none;
}

@media (min-width: 1245px) {
  .desktop {
    display: inline;
  }

  .desktop-modal {
    display: block;
  }
}

@media (min-width: 1245px) {
  .mobile {
    display: none;
    visibility: hidden;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1.9rem;
}

.right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  display: flex;
  gap: 1.9rem;
}

@media (max-width: 1245px) {
  .right a:nth-child(4) {
    padding: 8.5px 16.5px;
    border-radius: 6px;
    background-color: rgb(0, 0, 0, 0.05);
    backdrop-filter: blur(16px);
  }
}

section {
  height: 100vh;
  background-size: cover;
  background-position: center center;
}

section .content {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 16vh;
  padding-bottom: 5vh;
  display: grid;
  grid-template-rows: min-content auto min-content min-content;
}

section:nth-last-of-type(2) .content {
  height: 100vh;
  width: 100%;
  text-align: center;
  padding-top: 16vh;
  padding-bottom: 1.8vh;
  display: grid;
  grid-template-rows: min-content auto min-content min-content;
}

.content h1 {
  font-size: 2.6rem;
  font-family: GothamBook;
}

.content p {
  font-family: GothamBook;
}

.content .subhead {
  font-size: 0.95rem;
  padding-top: 10px;
}

.content .subhead a {
  text-decoration: underline;
  color: var(--text);
}

.buttons {
  margin: 0 auto;
  display: grid;
  row-gap: 16px;
}

.buttons button {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: GothamMedium;
  font-size: 0.9rem;
  width: 88vw;
  padding: 12px;
  border-radius: 5px;
}

.form-1 button {
  background-color: var(--btnDark);
  color: var(--btnTextLight);
}

.form-2 button {
  background-color: var(--btnLight);
  color: var(--btnTextDark);
}

.opaque {
  background-color: rgb(0, 0, 0, 1);
  border-radius: 5px;
}

.content .small-text {
  font-size: 0.8rem;
  padding-top: 24px;
}

.model-3-section .chevron-down {
  position: relative;
  width: 24px;
  margin-top: 15px;
  animation: move 1.1s infinite ease-in-out;
}

@keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 0;
  }
}

@media (min-width: 600px) {
  .buttons {
    display: flex;
    flex-direction: row;
  }

  .form-1 button {
    max-width: 270px;
    margin-right: 12px;
  }

  .form-2 button {
    max-width: 270px;
    margin-left: 12px;
  }
}

.small-text a {
  text-decoration: underline;
  color: var(--text);
}

section .padding-bottom {
  padding-bottom: 45px;
}

.bottom-nav {
  display: grid;
  row-gap: 12px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

.bottom-nav a {
  text-decoration: none;
  color: var(--textGrey);
  font-family: GothamMedium;
  font-size: 0.8rem;
}

.desktop-bottom {
  display: none;
}

@media (min-width: 600px) {
  .desktop-bottom {
    display: block;
  }

  .bottom-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 455px;
    margin: 0 auto;
    padding-bottom: 25px;
  }
}

aside {
  position: fixed;
  right: -290px;
  width: 290px;
  height: 100vh;
  background-color: white;
  z-index: 4;
  padding: 80px 20px 0px 40px;
}

aside:nth-of-type(1) {
  transition: right 0.4s ease;
}

aside.active {
  right: 0px;
}

.modal-more {
  visibility: hidden;
  z-index: 5;
}

.modal-more.active {
  visibility: visible;
}

aside a,
p {
  display: block;
  padding: 12px 0px;
  color: var(--text);
  text-decoration: none;
  font-family: GothamMedium;
  font-size: 0.9rem;
}

aside .close-btn,
aside .close-more-btn {
  width: 20px;
  position: absolute;
  right: 18px;
  top: 28px;
  cursor: pointer;
}

.modal-more .back {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 22px;
  left: 25px;
}

.modal-more .back p {
  font-size: 0.8rem;
}

.modal-more .chevron-left {
  width: 15px;
}

aside .more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

aside .chevron-right {
  width: 15px;
}

.backdrop {
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgb(0, 0, 0, 0.35);
  backdrop-filter: blur(3.5px);
  transition: right 0.4s ease;
}

.backdrop.active {
  display: block;
}
